/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?33531914');
  src: url('../font/fontello.eot?33531914#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?33531914') format('woff'),
       url('../font/fontello.ttf?33531914') format('truetype'),
       url('../font/fontello.svg?33531914#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
